@font-face {
	font-family: 'iconfont'; /* Project id 3365898 */
	src: url('../woff/iconfont.woff2?t=1656987403800') format('woff2'),
		url('./woff/iconfont.woff?t=1656987403800') format('woff'),
		url('./woff/iconfont.ttf?t=1656987403800') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.l-henggang:before {
	content: '\e627';
}

.l-queren:before {
	content: '\e629';
}

.l-roundclose:before {
	content: '\e659';
}

.l-loading:before {
	content: '\e962';
}

.l-view_list-o:before {
	content: '\e73e';
}

.l-dark:before {
	content: '\e72f';
}

.l-wb_sunny:before {
	content: '\e746';
}
